
<div>
    <table class="table">
        <tr>
            <th>Employee Id</th>
            <th>Employee Name</th>
            <th>DOB</th>
            <th>Designation</th>
            <th>Gender</th>
            <th>Attendance</th>
        </tr>
    </table>
</div>