

<div>
    <img src="~/css/R.jfif" class="img-fluid">
</div>
<br>
<div class="container">

            <form method="post" class="col text-center">
                <h4>Login Form</h4>
                <div>
                    <input type="email" placeholder="enter user name">
                </div>
                <br>
                <div>
                    <input type="password" placeholder="enter password">
                </div>
                <br>
                <a class="btn btn-primary" asp-controller="Attendance" asp-action="index">Login</a>
            </form>
 </div>
